[Unit]
Description=GitHub Runner
After=docker.service
Requires=docker.service

[Service]
Environment=PATH=/home/github-runner/bin:/sbin:/usr/sbin:/home/github-runner/bin:/usr/local/bin:/usr/bin:/bin:/usr/local/games:/usr/games
WorkingDirectory=/home/github-runner
TimeoutStartSec=0
Restart=always
ExecStartPre=-/home/github-runner/bin/pre-start.sh
ExecStart=/home/github-runner/bin/start-runner.sh
ExecStopPost=/home/github-runner/bin/post-stop.sh

[Install]
WantedBy=default.target
